<div class="app-container">
  <h1>{{ title }}</h1>

  <hr>
  <section>
    <h2>Exercise 1 & 2 - Heroes List (Directives, Data Binding & Custom Pipe)</h2>
    <app-heroes></app-heroes>
  </section>
<hr>

<section>
  <h2>Exercise #3 — Custom Directive (UpperCase on Blur)</h2>
  <p>Type something in the box below, then click away to see it convert to UPPERCASE:</p>
    <input
      type="text"
      appInputFormat
      placeholder="Type here and click away..."
      class="format-input"
    />
  </section>
</div>
